@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


::-webkit-scrollbar{
    width:5px;
    background-color: #636363;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(14, 14, 46);
}

::selection{
    background-color: rgba(240, 201, 116, 0.884);
    color: black;
}

.indicador{
    background-color: #dd8e44;
    transform-origin: left;
    height: 5px;
    inset: 0;
    position: fixed;

    animation: indicador 1ms ease-in-out;
    animation-timeline: scroll();

    z-index: 100000;
}

@keyframes indicador{
    from{
      scale: 0 1;
    }

    to{
      scale: 1 1;
    }
}

html{
    scroll-behavior: smooth;
}

@keyframes tela {
    0%{
        opacity: 1;  
    }

    100%{
       opacity: 0;
       scale: 0.5;

    }

}

main section{
    animation: slide ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
 
}

@keyframes slide {
    from{
      opacity: 0.5;  
      transform: translateX(-100vw);
    }
    
    to{
      transform: translateX(0vw);
    }
    
    }
    


h2, h1{
    font-family: "Inter", serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
}

p{
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    background-color: #1E293B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23655644' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FED7AA'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

header, footer{
    background-color: #1E293B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23655644' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FED7AA'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

section{
    background-color: #1E293B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%231E293B' width='11' height='11'/%3E%3Crect fill='%231e2a3c' x='10' width='11' height='11'/%3E%3Crect fill='%231f2a3d' y='10' width='11' height='11'/%3E%3Crect fill='%231f2b3e' x='20' width='11' height='11'/%3E%3Crect fill='%23202c3f' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23202c3f' y='20' width='11' height='11'/%3E%3Crect fill='%23212d40' x='30' width='11' height='11'/%3E%3Crect fill='%23212d41' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23222e42' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23222f43' y='30' width='11' height='11'/%3E%3Crect fill='%23232f44' x='40' width='11' height='11'/%3E%3Crect fill='%23233045' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23243146' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23243147' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23253248' y='40' width='11' height='11'/%3E%3Crect fill='%23253349' x='50' width='11' height='11'/%3E%3Crect fill='%2325334a' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2326344a' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2326344b' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%2327354c' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2327364d' y='50' width='11' height='11'/%3E%3Crect fill='%2328364e' x='60' width='11' height='11'/%3E%3Crect fill='%2328374f' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23293850' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23293851' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%232a3952' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%232a3a53' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%232b3a54' x='70' width='11' height='11'/%3E%3Crect fill='%232b3b55' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%232c3c56' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%232c3c57' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%232d3d58' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%232d3e59' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%232e3e5a' x='80' width='11' height='11'/%3E%3Crect fill='%232e3f5b' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%232f405b' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%232f405c' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2330415d' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2330425e' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2331425f' x='90' width='11' height='11'/%3E%3Crect fill='%23314360' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23324461' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23324462' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23334563' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23334664' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23344665' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23344766' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23354867' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23354868' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23364969' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23364a6a' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23374a6b' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23374b6c' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23384c6d' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23384d6e' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23394d6f' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23394e70' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%233a4f71' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%233a4f72' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%233B5073' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-size: cover;
}

.bgImg{
    width: 100%;
    height: 600px;
    background-image: url(img/torsoFemininoImg.jpeg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    justify-items: center;
    justify-content: center;
}

.bgImg h2, .bgImg p{
    color: rgb(248, 248, 248);
    padding: 2px;
    text-transform: uppercase;
    border-bottom: solid white 1px;
    font-weight: bold;
    text-shadow: 0 0 20px black;
}

@media (max-width: 425px) {
    body {
        font-size: 16px; /* Ajuste o tamanho da fonte */
    }

    header h1 {
        font-size: 2rem; /* Ajuste o tamanho do título no header */
    }

    .imgSec {
        width: 100%; /* Ajuste a largura das imagens para caber na tela */
    }

    .sec {
        padding: 15px; /* Ajuste o padding das seções */
    }

    .h2Sec {
        font-size: 1.5rem; /* Ajuste o tamanho do subtítulo */
    }

    .pSec {
        font-size: 1rem; /* Ajuste o tamanho do texto */
    }
}